<!DOCTYPE html>
<html>
<head>
    <title>Create Drive</title>
</head>

<body>

<h1>Create Hiring Drive</h1>

<form method="POST" action="/company/create_drive">

Job Title:<br>
<input type="text" name="job_title" required><br><br>

Job Description:<br>
<input type="text" name="job_description" required><br><br>

Application Deadline:<br>
<input type="date" name="application_deadline" required><br><br>

<button type="submit">Create Drive</button>

</form>

<br>
<a href="/company_dashboard">Back</a>

</body>
</html>